.iconify--mdi{
    color: #000000 !important;
}

.body-player{
    position: relative;
}

.prev_next {
    position: absolute;
    top: 48%;
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-size: 40px;
    color: #000000 !important;
}
.rhap_container {
    background: #f7f7f9;
}

.rhap_controls-section {
    color: #000000 !important;
}

.rhap_progress-section {
    color: #000000 !important;
}

.rhap_main-controls-button {
    color: #000000 !important;
}

.rhap_main-controls-button path {
    color: #196EED !important;
}

.rhap_rewind-button path,
.rhap_forward-button path{
    color: #000000 !important;
}

.rhap_progress-filled,
.rhap_progress-indicator {
    background-color: #196EED !important;
}

.rhap_progress-bar{
    background-color: #8CB6F6 !important;
}

.rhap_button-clear.rhap_volume-button {
    color: #000000 !important;
}

.rhap_volume-bar, .rhap_volume-indicator {
    background-color: red;
}
