/*.card-listsong {*/
/*    background-color: #fff1e3;*/
/*}*/

.card header{
    background-color: orange;
}

.btn{
    margin: 2px;;
}
.divbtn{
    float: left;
}

/*.img-fixed-position{*/
/*    width: 250px;*/
/*    padding: 20px;*/
/*}*/

.namesong-width{
    min-width: 300px;
    max-width: 300px;
}

.descrip-width{
    min-width: 500px;
    max-width: 500px;
}


.custom-button{
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.tr-title-position{
    text-align: center;
}

.tr-data-position{
    position: inherit;
    height: 60px;
}

.count-numb-rs{
    text-align: center;
    counter-reset: my-sec-counter;
}

.count-numb::before {
    counter-increment: my-sec-counter;
    content:  counter(my-sec-counter) " ";
}
