.playlist {
    display: flex;
}

.playlist .playlist-mainpacket h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.playlist .playlist-mainpacket h1 {
    font-size: 20px;
}

.playlist .playlist-mainpacket img {
    width: 100px;
    height: 30%;
}

.playlist-mainpacket {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-component {
    height: 256px;
    overflow: auto;
    width: 70%;
}

.dropdown-notify {
    left: -300px !important;
    width: 350px;
    max-height: 400px;
    overflow-y: auto;
}

.dropdown-notify-item {
    cursor: pointer;
    text-decoration: none;
    color: unset;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 20px;
}

.notify-hover:hover{
    background-color: #ebeffd;
}

